.main {
    padding: 1rem;
}

.main__footer {
    border-top: 1px solid var(--silver);
    bottom: 0;
    left: 1rem;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    text-align: center;
}

.main__footer .main__footer-add {
    float: right;
}

.main .main__loading {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main__modal-header-title {
    display: flex;
    align-items: center;
}

.main .main__no-counters {
    margin-top: 200px;
    text-align: center;
}

.main .main__no-counters-cite, .main .main__no-counters-subtitle {
    color: var(--grey);
}

.main .main__no-counters-title {
    color: var(--dark-black);
}

.main__searchbar {
    border-bottom: 1px solid var(--silver);
}

.main__searchbar-icon svg {
    position: absolute;
    left: 35px;
    top: 30px;
}

.main__searchbar-icon {
    margin-bottom: 1rem;
    width: 100%;
}

.main__searchbar-input {
    width: 100%;
    padding-left: 50px;
    text-align: left;
}